// @flow

// --------------------------------------------------------
// ATOM - Atoms are the smallest application build block,
// they are like HTML tags, such as a form label, an input
// or a button.
// --------------------------------------------------------

// {{ properCase name }}


// --------------------------------------------------------
// REACT / REDUX IMPORTS
// --------------------------------------------------------
import React from 'react'
// --------------------------------------------------------

// --------------------------------------------------------
// STYLING IMPORTS
// --------------------------------------------------------
import classNames from 'classnames'
import styles from './styles.css'
// --------------------------------------------------------

// --------------------------------------------------------
// PERFORMANCE AND IMPLEMENTATION CHECKER
// --------------------------------------------------------
if (process.env.NODE_ENV !== 'production') {
	const { whyDidYouUpdate } = require('why-did-you-update')
	whyDidYouUpdate(React)
}
// --------------------------------------------------------

// --------------------------------------------------------
// ATOM PROPERTY DEFINITIONS
// --------------------------------------------------------
type PropTypes = {}
// --------------------------------------------------------

// --------------------------------------------------------
// DEFINES ATOM DEFAULT PROPERTIES
// --------------------------------------------------------
const _defaultProps = {}
// --------------------------------------------------------


class {{ properCase name }} extends React.PureComponent {
	// --------------------------------------------------------
	// ASSIGINING A TYPE TO ATOM.PROPS
	// --------------------------------------------------------
	propTypes: PropTypes

	// --------------------------------------------------------
	// ASSIGINING A TYPE TO ATOM.DEFAULTPROPS
	// --------------------------------------------------------
	static defaultProps: PropTypes

	// --------------------------------------------------------
	// ATOM CONTEXT DEFINITION
	// --------------------------------------------------------
	static contextTypes = {}

	// --------------------------------------------------------
	// ATOM STATE DEFINITION
	// --------------------------------------------------------
	state: {}

	// --------------------------------------------------------
	// ATOM PRIVATE FUNCTION DECLARATIONS
	// --------------------------------------------------------
	// --------------------------------------------------------

	// --------------------------------------------------------
	// ATOM PRIVATE FUNCTIONS
	// --------------------------------------------------------
	// --------------------------------------------------------

	// --------------------------------------------------------
	// REACT LIFECYCLE METHODS
	// --------------------------------------------------------
	constructor (props: PropTypes) {
		super(props)

		this.state = {}
	}

	render () {
		return (
			<div className={{curly true}}classNames(styles.{{ lowerCase name }}){{curly}}>
			</div>
		)
	}
	// --------------------------------------------------------
}

{{ properCase name }}.defaultProps = _defaultProps
export default {{ properCase name }}
