// @flow

// --------------------------------------------------------
// ORGANISM - Organisms are groups of molecules joined
// together to form a relatively complex, distinct section
// of an interface.
// --------------------------------------------------------

// {{ properCase name }}


// --------------------------------------------------------
// REACT / REDUX IMPORTS
// --------------------------------------------------------
import React from 'react'
// --------------------------------------------------------

// --------------------------------------------------------
// STYLING IMPORTS
// --------------------------------------------------------
import classNames from 'classnames'
import styles from './styles.css'
// --------------------------------------------------------

// --------------------------------------------------------
// PERFORMANCE AND IMPLEMENTATION CHECKER
// --------------------------------------------------------
if (process.env.NODE_ENV !== 'production') {
	const { whyDidYouUpdate } = require('why-did-you-update')
	whyDidYouUpdate(React)
}
// --------------------------------------------------------

// --------------------------------------------------------
// ORGANISM PROPERTY DEFINITIONS
// --------------------------------------------------------
type PropTypes = {}
// --------------------------------------------------------

// --------------------------------------------------------
// DEFINES ORGANISM DEFAULT PROPERTIES
// --------------------------------------------------------
const _defaultProps = {}
// --------------------------------------------------------


class {{ properCase name }} extends React.PureComponent {
	// --------------------------------------------------------
	// ASSIGINING A TYPE TO ORGANISM.PROPS
	// --------------------------------------------------------
	propTypes: PropTypes

	// --------------------------------------------------------
	// ASSIGINING A TYPE TO ORGANISM.DEFAULTPROPS
	// --------------------------------------------------------
	static defaultProps: PropTypes

	// --------------------------------------------------------
	// ORGANISM CONTEXT DEFINITION
	// --------------------------------------------------------
	static contextTypes = {}

	// --------------------------------------------------------
	// ORGANISM STATE DEFINITION
	// --------------------------------------------------------
	state: {}

	// --------------------------------------------------------
	// ORGANISM PRIVATE FUNCTION DECLARATIONS
	// --------------------------------------------------------
	// --------------------------------------------------------

	// --------------------------------------------------------
	// ORGANISM PRIVATE FUNCTIONS
	// --------------------------------------------------------
	// --------------------------------------------------------

	// --------------------------------------------------------
	// REACT LIFECYCLE METHODS
	// --------------------------------------------------------
	constructor (props: PropTypes) {
		super(props)

		this.state = {}
	}

	render () {
		return (
			<div className={{curly true}}classNames(styles.{{ lowerCase name }}){{curly}}>
			</div>
		)
	}
	// --------------------------------------------------------
}

{{ properCase name }}.defaultProps = _defaultProps
export default {{ properCase name }}
